html, body{
	margin: 0;
	padding: 0;
}

header, section, footer{
	position: relative;
}

.menu{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	z-index: 1;
	background: white;
}

.menu ul{ 
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	margin: 0;
	height: 30%;
	right: 6%;
	min-width: 34%;
}

.menu ul li {
	font-size: 1.6em;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	line-height: 1.61em;
	letter-spacing: 0em;	
	display: inline;
}

.home{
	width: 100%;
	top: 30%;
}

.logo{
	width: 9%;
	margin: 0 auto;
}

.tagline{
  font-size: 2.92em;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	position: absolute;
	top: 53%;
	left: 61%;
}

.grafismo-tagline{
	font-size: 2.63em;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-align: center;
	line-height: 2.23em;
	letter-spacing: 0em;
}

section .historia-img {
	position: relative;
	left: 35%;
	top: -52px;
	width: 30%;

}

.historia-texto {
	font-size: 1.31em;
	color: rgb(0, 0, 0);
	font-style: normal;
	text-align: left;
	line-height: 1.38em;
	letter-spacing: 0em;
	width: 50%;
	position: relative;	
	left: 29%;
	top: -70px;
}

.h2{
	color: rgb(251, 176, 59);
	position: absolute;
	right: 1%;
	top: 390px;
	font-size: 1.4em;
	font-style: normal;
	text-align: left;
	line-height: 1.35em;
	letter-spacing: 0em;
}

.pp{
	font-size: 1.25em;
	font-style: normal;
	text-align: left;
	line-height: 1.25em;
	letter-spacing: 0em;
	color: rgb(255, 255, 255);
	position: absolute;
	/*left: 7%;
	/*top: 380px;*/
}

.contato {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	background: rgb(0, 102, 179);
	background: url(assets/grafismo.svg) no-repeat center center, rgb(0, 102, 179);
	background-size: 35%;
	width: 100%;
}

.contato-descricao {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 15%;
	width: 25%;
	margin: 0 2%;
	color: rgb(255, 255, 255);
}

.contato-titulo {
	font-size: 2em;
	margin: 0;
}

.contato-descricao p {
	margin: 0;
	font-size: 1.3em;
	line-height: 1.35em;
	letter-spacing: 0em;
}

.contato-descricao h2 {
	margin: 0;
}

.contato-tituloDestaque {
	font-weight: 700;
	color: rgb(251, 176, 59);
	display: flex;
}

.todos{
	display: flex;
	flex-flow: row nowrap;
	margin: 0;
	width: 100%;
}

.todos-1{
	width: 50%;
}

.todos-1 img{
	width: 50%;
	position: relative;
	left: 2%;
	top: -305px;
	padding-top: 25%;
}

.todos-1 h1{
	font-size: 2.0em;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-align: center;
    letter-spacing: 0em;
	position: absolute;
	width: 15%;
	left: 18%;
    top: 30px;
    
}

.todos-1 p{
    font-size: 0.95em;
	color: rgb(0, 0, 0);
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	position: absolute;
	width: 30%;	
	left: 13%;
	top: 250px; 
}

#todos-2{
	background: rgb(0, 174, 239);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	
	
}

div .colaboracao{
	display: flex;
	justify-content: center;
	position: relative;
	margin: 0;

}
.itens {
	background: rgb(251, 176, 59);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin:1.5%;
}

.itens h2 {
	font-size: 1.44em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	/*line-height: 1.23em;*/
	letter-spacing: 0.01em;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 4% 0;
}

footer p {
	margin-top: .5%;
	margin-bottom: 0;
}

footer a {
	color: black;
}